<section class="section">
    <div class="apartments">
        <h1>Квартиры</h1>
        <div class="apartments__rows">
            <div class="apartments__layout">Планировка</div>
            <div class="apartments__flat">Квартира</div>
            <div class="apartments__squares sort__reset">
                <span>S, м²</span>
                <div class="apartments__arrow_btn">
                    <button
                        class="apartments__arrow_btn_button up"
                        id="sort__square_down"
                        type="button"
                    >
                        <svg>
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                    </button>
                    <button
                        class="apartments__arrow_btn_button down"
                        id="sort__square_up"
                        type="button"
                    >
                        <svg>
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="apartments__floor sort__reset">
                <span>Этаж</span>
                <div class="apartments__arrow_btn">
                    <button
                        class="apartments__arrow_btn_button up"
                        id="sort__level_down"
                        type="button"
                    >
                        <svg>
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                    </button>
                    <button
                        class="apartments__arrow_btn_button down"
                        id="sort__level_up"
                        type="button"
                    >
                        <svg>
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="apartments__lease">
                <span>Сдача</span>
                <div class="apartments__arrow_btn">
                    <button class="apartments__arrow_btn_button up" type="button">
                        <svg>
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                    </button>
                    <button class="apartments__arrow_btn_button down" type="button">
                        <svg>
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="apartments__price sort__reset">
                <span>Цена, ₽</span>
                <div class="apartments__arrow_btn btn_price">
                    <button
                        class="apartments__arrow_btn_button up"
                        id="sort__price_down"
                        type="button"
                    >
                        <svg>
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                    </button>
                    <button
                        class="apartments__arrow_btn_button down"
                        id="sort__price_up"
                        type="button"
                    >
                        <svg>
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="apartments__list"></div>
        <button class="section__load_more" type="button">Загрузить еще</button>
    </div>
    <div class="filter">
        <div class="filter__room">
            <div>
                <input class="filter__room_input" type="checkbox" id="room1" value="1" />
                <label class="filter__room_label" for="room1"><span>1к</span></label>
            </div>
            <div>
                <input class="filter__room_input" type="checkbox" id="room2" value="2" />
                <label class="filter__room_label" for="room2"><span>2к</span></label>
            </div>
            <div>
                <input class="filter__room_input" type="checkbox" id="room3" value="3" />
                <label class="filter__room_label" for="room3"><span>3к</span></label>
            </div>
            <div>
                <input class="filter__room_input" type="checkbox" id="room4" value="4" />
                <label class="filter__room_label" for="room4"><span>4к</span></label>
            </div>
        </div>
        <div class="filter__content">
            <span>Стомость квартиры, ₽</span>
            <div class="filter__item">
                <div class="filter__range">
                    <span>от</span>
                    <input type="number" name="prace" value="" id="price_from" />
                </div>
                <div class="filter__range">
                    <span>до</span>
                    <input type="number" name="prace" value="" id="price_yes" />
                </div>
            </div>
            <div class="filter__range_slider">
                <div class="range_price" id="range-prace"></div>
            </div>
        </div>
        <div class="filter__content square">
            <span>Площадь, м²</span>
            <div class="filter__item">
                <div class="filter__range">
                    <span>от</span>
                    <input type="number" name="square" value="" id="square_from" />
                </div>
                <div class="filter__range">
                    <span>до</span>
                    <input type="number" name="square" value="" id="square_yes" />
                </div>
            </div>
            <div class="filter__range_slider">
                <div class="range_square" id="range-square"></div>
            </div>
        </div>
        <button class="filter__all_reset_btn" type="button">
            Сбросить параметры
            <svg>
                <use xlink:href="img/sprite.svg#cross"></use>
            </svg>
        </button>
    </div>
</section>
