.filter{
    width: 100%;
    max-width: 319px;
    max-height: 292px;
    padding: 40px 40px;
    background: linear-gradient(135deg, rgba(174, 228, 178, 0.3) 0%, rgba(149, 208, 161, 0.3) 100%);
    border-radius: 10px;
    position: sticky;
    top: 5px;

    @media (max-width: 1040px){
        max-width: 280px;
        max-height: 280px;
        padding: 19px 19px;
    }

    &__room{
        display: flex;

        &_input{
            position: absolute;
            z-index: -1;
            opacity: 0;

            & + label{
                height: auto;
                display: inline-flex;
                align-items: center;
                user-select: none;
                position: relative;
                font-family: "PT-Root-UI_Regular", sans-serif;
                cursor: pointer;
            }

            & + label:before{
                content: '';
                display: inline-block;
                width: 44px;
                height: 44px;
                border-radius: 100%;
                background: $white;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;
            }

            &:checked + label:before{
                width: 44px;
                height: 44px;
                border-radius: 100%;
                background: $oceanGreen;
                box-shadow: 0px 6px 20px #95D0A1;
            }

            &:checked + label  > span{
                color: $white;
            }
        }

        &_label{
            position: relative;
            margin-right: 16px;
            transition: transform 0.2s ease-in-out;

            & > span{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                font-size: 16px;
                line-height: 24px;
            }

            &:hover{
                transform: scale(1.1);
            }
        }
    }

    &__content{
        display: block;
        margin-top: 24px;
        font-family: "PT-Root-UI_Regular", sans-serif;

        & > span{

            @media (max-width: 1040px){
                font-size: 13px;
                line-height: 18px;
            }
        }
    }

    &__item{
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
    }

    &__range_slider{
        margin-top: 10px;
    }

    &__range{
        position: relative;

        & > span{
            display: block;
            position: absolute;
            top: 1px;
            font-size: 16px;
            line-height: 24px;
            opacity: 0.5;

            @media (max-width: 1040px){
                top: -1px;
            }
        }

        & > input{
            width: 150px;
            padding-left: 26px;
            background: transparent;
            border: none;
            font-family: "PT-Root-UI_Medium", sans-serif;
            font-size: 16px;
            line-height: 24px;

            @media (max-width: 1040px){
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    &__all_reset_btn{
        margin-top: 34px;
        margin-left: 10px;
        background: transparent;
        border: none;
        color: $black;
        font-family: "PT-Root-UI_Regular", sans-serif;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
        transition: color 0.3s ease-in-out;
        
        @media (max-width: 1040px){
            font-size: 13px;
            line-height: 18px;
        }

        & > svg{
            width: 8px;
            height: 8px;
            margin-left: 4px;
            fill: $blueZodiac;
            transition: fill 0.2s ease-in-out;
        }

        &:hover{
            color: $oceanGreen;
        }

        &:hover > svg{
            fill: $oceanGreen;
        }
    }
}

.square{
    margin-top: 25px;
}

.noUi-target{
    position: relative;
    background: transparent;
    border-radius: 1.5px;
    border: unset;
    box-shadow: unset;
}

.noUi-horizontal{
    height: 3px;
}

.noUi-connects{
    background: #cfdfd6;
    mix-blend-mode: normal;
    border-radius: 1.5px;
}

.noUi-connect{
    height: 100%;
    width: 100%;
    background: $oceanGreen;
}

.noUi-horizontal .noUi-handle{
    width: 14px;
    height: 14px;
    right: -10px;
    top: -6px;
    border: 100%;
}

.noUi-handle::after, .noUi-handle::before {
    display: none;
}

.noUi-handle {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    border: none;
    border-radius: 100%;
    background: $oceanGreen;
    cursor: default;
    box-shadow: none;
}

.noUi-touch-area{
    cursor: pointer;
}