.section{
    display: flex;
    justify-content: space-between;
    padding: 96px 80px;

    @media (max-width: 1390px){
        padding: 48px 57px;
    }

    &__load_more{
        max-width: 156px;
        height: 40px;
        margin-top: 48px;
        background: transparent;
        border: 1px solid rgba(11, 23, 57, 0.2);
        border-radius: 25px;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
    }
}

.apartments{
    width: 100%;
    max-width: 801px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__layout,
    &__flat{
        font-family: "PT-Root-UI_Regular", sans-serif;
    }

    @media (max-width: 1390px){
        margin-right: 28px;
    }

    @media (max-width: 970px){
        &__layout,
        &__flat{
            display: none;
        }
    }

    h1{
        font-family: "PT-Root-UI_Bold", sans-serif;
        font-size: 54px;
        font-weight: 700;
    }

    &__rows, &__items{
        width: 100%;
        display: grid;
        grid-template-columns: 101px 38% 18% 18% 13%;

        @media (max-width: 1190px){
            grid-template-columns: 95px 32% 18% 18% 13%;
        }
    }

    &__items{
        padding: 16px 30px 34px 0;
        border-top: solid #E5E5E5 1px;

        @media (max-width: 970px){
            width: unset;
            margin-bottom: 4px;
            padding: 14px 0 16px 24px;
            border: solid #E5E5E5 1px;
            border-radius: 8px;
            grid-template-columns: unset;
            grid-template-columns: auto auto auto auto;
            grid-row-gap: 10px;
            grid-template-areas:
                'title . . .'
                'squares floor price img';
        }

        &:last-child{
            border-bottom: solid #E5E5E5 1px;
        }

        & > img{
            width: 66px;
            height: 64px;
            object-fit: cover;
        }

        & > a{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $blueZodiac;
            transition: color 0.3s ease-in-out;

            &:hover{
                color: $oceanGreen;
            }
        }
}

    &__rows{
        margin: 48px 0 16px 0;
        font-size: 14px;
        line-height: 20px;

        @media (max-width: 970px){
            display: flex;
        }
    }

    &__img_plan{
        margin-top: 9px;
        margin-left: 7px;
    }

    &__items_squares{

        @media (max-width: 970px){
            &:after{
                display: inline;
                content: 'м²';
                margin-left: 5px;
            }
        }
    }

    &__items_level{

        & > span{
            display: inline;    
            color: $blueZodiac;
            opacity: 0.5;

            @media (max-width: 970px){
                &:after{
                    display: inline;
                    content: 'этаж';
                    margin-left: 5px;
                }
            }
        }
    }

    &__items_price{

        @media (max-width: 970px){
            &:after{
                display: inline;
                content: '₽';
                margin-left: 5px;
            }
        }
    }

    @media (max-width: 970px){

        &__items_title{
            margin-bottom: 15px;
            grid-area: title;
        }

        &__items_squares{
            grid-area: squares;
        }
    
        &__items_level{
            grid-area: floor;
            grid-column: squares-start;
            margin-left: 70px;
        }
    
        &__items_price{
            grid-area: price;
            grid-column: squares-start;
            margin-left: 190px;
        }

        &__img_plan{
            margin-top: -25px;
            grid-area: img;
        }
    }

    &__squares, 
    &__floor,
    &__price{
        display: flex;
        position: relative;
        font-family: "PT-Root-UI_Regular", sans-serif;

        @media (max-width: 970px){
            margin-right: 20px;
        }
    }

    &__items_squares,
    &__items_level,
    &__items_price{
        font-family: "PT-Root-UI_Regular", sans-serif;

        @media (max-width: 970px){
            font-family: "PT-Root-UI_Medium", sans-serif;
        }
    }

    &__lease{
        display: none;
        font-family: "PT-Root-UI_Regular", sans-serif;

        @media (max-width: 970px){
            display: flex;
            margin-right: 20px;
        }
    }

    &__arrow{

        &_btn{
            margin-left: 8px;
            margin-top: 2px;
   
            &_button{
                display: block;
                width: 7px;
                height: 4px;
                padding: 0;
                border: none;
                background: transparent;
                position: relative;
                cursor: pointer;

                & > svg{
                    fill: $santasGray;
                    transition: fill 0.3s ease-in-out;

                    &:hover{
                        fill: $oceanGreen;
                    }
                }
            }
    
            & > .up{
                top: 10px;
    
                & > svg{
                    position: absolute;
                    width: 7px;
                    height: 4px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%) rotate(180deg);
                }
            }
    
            & > .down{
    
                & > svg{
                    position: absolute;
                    width: 7px;
                    height: 4px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                }
            }
        }
    }

}

.btn_price{
    left: 51%;
}


.span__level:after{
    content: 'этаж';
    display: block;
    width: 20px;
    height: 20px;
}

.up__btn{
    width: 40px;
    height: 40px;
    display: none;
    position: fixed;
    right: 32px;
    bottom: 32px;
    border-radius: 100%;
    background: #AEE4B2;
    cursor: pointer;

    &:before{
        width: 10px;
        height: 15px;
        display: block;
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        background-image: url('../img/up.png'); 
        background-repeat: no-repeat;    
        transform: translate(-50%,-50%);
    }
}

.active__sort svg{
    fill: $oceanGreen;
}