@import 'vars';
@import 'mixins';
@import 'fonts';
@import '/node_modules/nouislider/dist/nouislider.min.css';

html{
    height: 100%;
}

body{
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: "PT-Root-UI_Medium", sans-serif;
    color: $blueZodiac;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.container{
    max-width: $max-width;
    min-width: $min-width;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

input:focus,
textarea:focus,
select:focus,
button:focus{
    outline: none;
}

@import 'section';
@import 'filter';